{
    "presets": [
        ["@babel/preset-flow", { "all": true }],
        ["@babel/preset-env", {
            "targets": {
                "chrome": "58",
                "ie": "10"
            },
            "forceAllTransforms": true
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}
